
/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around{
    justify-content: space-around;
}

.flex.column{
    flex-direction: column;
}

.flex.warp{
    flex-wrap: wrap;
}
